<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>

<style>

    body {
    background-color: rgb(152, 121, 219);
    }

    .ani {
    display: flex;
    justify-content: space-between;
    }

    .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
    .pagination a.active {
  background-color: dodgerblue;
  color: white;
}
    .pagination a:hover:not(.active) {background-color: #ddd;}

</style>
<body>

<img src="https://i.pinimg.com/736x/fb/81/86/fb8186475f7e4baff77f90e5acb7ace9--chen-fantasy-art.jpg">

<img src="https://sun9-9.userapi.com/impg/ZXph0LzKXXnt9btkOXgeU6tUL0girvE0Wn1-LA/4seGWOYuT9k.jpg?
size=1280x923&quality=96&sign=083f7fccdf0ef0599a743eeb9747170a&type=album">

<div class="ani">
    <iframe src="//kodik.info/serial/58256/463d7aac80e502585e9f6174a2ac5ca5/720p" width="607" height="360"
            frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *">
    </iframe>

    <iframe src="//kodik.info/serial/60687/d73bfd49db170075ee3ed3190f22803e/720p" width="607" height="360"
            frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
</div>



<div class="pagination">
    <a href="text">&laquo;</a>
    <a href="home">1</a>
    <a href="info">2</a>
    <a href="text">3</a>
    <a class="active" href="home02">4</a>
    <a href="noGameNoLife">5</a>
    <a href="home06">6</a>
    <a href="noGameNoLife">&raquo;</a>
</div>
</body>
</html>