<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Info</title>
</head>

<style>

    body {
    background-color: rgb(158, 142, 142);
    }
    .hw03 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    }
    .vd04 {
    display: flex;
    justify-content: center;
    }

    .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
    .pagination a.active {
  background-color: dodgerblue;
  color: white;
}
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<body>

<div class="vd04">
    <p> Фотография отправлена на облачный сервис </p>

</div>

<div class="hw03">
    <img src="https://s1.bwallpapers.com/wallpapers/2014/07/13/great-sword_100802930.jpg">
</div>

<div class="pagination">
    <a href="home">&laquo;</a>
    <a href="home">1</a>
    <a class="active" href="info">2</a>
    <a href="text">3</a>
    <a href="home02">4</a>
    <a href="noGameNoLife">5</a>
    <a href="home06">6</a>
    <a href="text">&raquo;</a>
</div>

</body>
</html>